<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resources</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script type="text/javascript" src="/scripts/components/new-resource-form.js"></script>
  <script type="text/javascript" src="/scripts/components/comment.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">


</head>

    <body>
      <%- include('partials/_header') %>

    <main>
      <form action="/resources/comment" method="post" id="comment-create" class="new-comment-form hide">
        <div class="new-comment-form">
          <label for="new-comment">Comment</label>
          <textarea name="text" id="comment-text" placeholder="Add some comments"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>

      <div>
        <button type="submit" class="btn btn-secondary">Add new</button>
      </div>

      <form action="/resources/new" method="post" id="resource-create" class="new-resource-form hide">
        <div class="new-resource-title">
          <label for="new-resource-title">Title</label>
          <input id="resource_title" type="text" name="title" placeholder="Title">
        </div>

        <div class="new-resource-url">
          <label for="new-resource-url">URL</label>
          <input id="resource_url" type="url" name="url" placeholder="URL">
        </div>

        <div class="new-resource-description">
          <label for="new-property-form__description">Description</label>
          <textarea id="resource_description" placeholder="Description" name="description" cols="30"
            rows="10"></textarea>
        </div>

        <label for="topic">Choose a topic:</label>
        <select id="resource_topic" name="topic">
          <optgroup label="Markup/Design">
            <option value=""></option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="SCSS">SASS</option>
          </optgroup>
          <optgroup label="Languages">
            <option value="JavaScript">JavaScript</option>
            <option value="Pyhton">Python</option>
            <option value="Java">Java</option>
            <option value="PHP">PHP</option>
          </optgroup>
          <option value="Other">Other</option>
        </select>
        </div>
        <button type="submit">Submit</button>
      </form>

          <div class="resource-container show">
            <% for(const resource of resources) { %>
              <article class="resource">
                <header class="resource-head-foot">
                  <h4>
                    <a href="/resources/<%= resource.id %>"><%= resource.title %></a>
                  </h4>
                  <h4>
                    <a href="/search?search=<%= resource.topic %>"><%= resource.topic %></a>
                  </h4>
                </header>
                <div class="resource-content">
                  <a href="<%= resource.url %>">
                    <%= resource.url %>
                  </a>
                  <p class="main-text">
                    <%= resource.description %>
                  </p>
                  <div class="spread full">
                    <p>
                      Created by <%= resource.creator %>
                    </p>
                    <p>
                      <%= resource.comments %> comments
                    </p>
                  </div>
                </div>
                <footer class="resource-head-foot">
                  <button class="btn btn--comment" id="<%= resource.id %>" type="submit">Add comment</button>
                  <div class="spread small">
                    <p>
                      <%= Math.round((Number(resource.rating) + Number.EPSILON) * 100) / 100 %> ⭐️
                    </p>
                    <p>
                      <%= resource.likes %> 👍
                    </p>
                  </div>
                </footer>
              </article>
              <% } %>
          </div>
        </main>
    </body>

</html>
