<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

<body>
  <%- include('partials/_header') %>

    <h3>You searched for <%= query %>
    </h3>
    <p>Your search returned <%= result.length %> results!</p>
    <% if (result) { %>
      <% for (const resource of result) { %>
        <div>
          <h4>
            <%= resource.title %>
          </h4>
          <p>
            <%= resource.url %>
          </p>
          <p>
            <%= resource.description %>
          </p>
          <p>Created By: <%= resource.creator %>, on <%= resource.created_at %>
          </p>
          <p>
            <%= resource.likes %> likes Rating: <%= resource.rating %>
          </p>
        </div>
        <% } %>
          <% } %>
</body>

</html>
